{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "max-len": [
      "error",
      142,
      2,
      {
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "no-undefined": "error",
    "no-undef": "error"
  }
}
